.explore {
  position: relative;
  height: 550px;
  width: 100%;
}
.title {
  margin-left: 82px;
}
.explore-heading{
  width: 234px;
  height: 70px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.explore-desc {
  width: 300px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.explore-image-container
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.explore1 {
  background-color: transparent;
  height: 30rem;
  mix-blend-mode: normal;
  object-fit: cover;
  /* width: 60rem; */
  border-radius: 30px;
  left: 30px;
  margin-left: 10px;
}

.explore2 {
  background-color: transparent;
  height: 30rem;
  mix-blend-mode: normal;
  object-fit: cover;
  /* width: 60rem; */
  border-radius: 3rem;
  margin-left: 10rem;
  margin-left: 20px;
}
.priceLayer {
  height: 100px;
  left: 200px;
  top: 617px;
  position: absolute;
  width: 30%;
}
.priceLayerImg {
  background-color: transparent;
  mix-blend-mode: normal;
  width: 100%;
}
.priceLayer p{
  position:absolute;
  top: 15%;
  left: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
}
.priceLayer2 {
  height: 100px;
  left: 1020px;
  top: 617px;
  position: absolute;
  width: 30%;
}
.priceLayer2 p {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
}
.button-container{
  position: absolute;
  top: 70px;
}
.button-container button{
      margin-left: 30px;
      color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 15px;
      background-image: linear-gradient(to right, #FF594C, #FAC527);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 6px 12px;
}
.button-container button:nth-child(3){
  position: relative;
  left: 60px;
  padding: 10px 18px;
}
.explore-book-button{
  left: 30px !important;
}

@media (max-width: 600px) {
  .explore {
          position: relative;
          height: 840px;
          width: 50%;
      }
  .explore-image-container{
      flex-direction: column;
      flex-wrap: wrap-reverse;
      top:200px;
      
  }
  .explore2{
      margin: 30px;
      
  }
      .priceLayer{
          left: 25px;
      }
      .priceLayer2{
          left: 25px;
          top:770px;
      }

}
