
.navbar {
    width: 100%;
    background-color: transparent;
    padding: 3.1rem 5rem;
    display: grid;
    grid-template-columns: 45rem 63rem;
  }
.center {
  text-align: center;
}
.cityDownArrow {
  width: 20%;
}
  .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: #fff;
    line-height: 100%;
    position: relative;
    text-align: left;
  }
  .menu-link > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-link li {
    list-style: none;
  }
  .menu-link a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #ffffff;
  }
  .menu-link .call {
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin: 0 5px;
    padding: 12px 35px;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    outline: none;
    line-height: 1.4;
    cursor: pointer;
  }
  .hamburger-menu {
    display: none;
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .navbar{
      grid-template-columns: 1fr 1fr;
    }
    .hamburger-menu {
      display: flex;
      justify-content: flex-end;
      font-size: 2.5rem;
      color: #ffffff;
    }
    .hamburger-menu a{
      color: #ffffff;
    }
    .menu-link {
      display: none;
    }
    .mobile-menu-link {
      grid-row: 2/3;
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
    .mobile-menu-link {
      background-color: transparent;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
    }
    .mobile-menu-link ul {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      /* align-items: start; */
    }
  }